html, body, div, iframe {
    margin: 0px; 
    padding: 0px; 
    height: 100%; 
    border: none;
}

html {
    background-color: black;
}

body {
    color: red;
    font-size: 30;
}

iframe {
    display: block; 
    width: 100%; 
    border: none; 
    overflow-y: auto; 
    overflow-x: hidden;
}

a, a:link, a:visited {
  background-color: #f44336;
  color: white;
  font-size: 50;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
